/* Bring the elements in the header together in the center. */
.nav {
    justify-content: center;
}

/* Center the title */
.post-header h1 {
    text-align: center;
    padding-bottom: 1em;
}

/* Center all headlines */
.page-header {
    margin-top: 1em;
    text-align: center;
}

/* Rounded edges on all images */
img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: auto;
  }


  /*  Better visibility of list items  */
.post-content ul li {
    margin-left: 1em;
  }

.post-content h2,h3,h4 {
    margin-top: 2em;
}